<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdedu.mapper.WechatHouseKeeperDepartmentMapper">

    <select id="selectCountByDepartmentId" resultType="int">
        SELECT count(*) FROM `sas_siycrm_wechat_housekeeper_department` where department_id = #{departmentId}
    </select>

    <insert id="bathInsertDepartment">
        insert into sas_siycrm_wechat_housekeeper_department (id,department_id,department_name,parent_department_id,created_time,update_time) values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.departmentId},
            #{item.departmentName},
            #{item.parentDepartmentId},
            NOW(),
            NOW()
            )
        </foreach>
    </insert>

    <update id="updateHouseKeepDepartmentInfo" parameterType="java.util.List">
        update sas_siycrm_wechat_housekeeper_department
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="department_name =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.departmentName!=null">
                        when department_id = #{i.departmentId} then #{i.departmentName}
                    </if>
                </foreach>
            </trim>
            <trim prefix=" parent_department_id =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.parentDepartmentId!=null">
                        when department_id = #{i.departmentId} then #{i.parentDepartmentId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time =case" suffix="end," >
                <foreach collection="list" item="i" index="index">
                    when department_id = #{i.departmentId} then now()
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="list" separator="or" item="i" index="index" >
            department_id = #{i.departmentId}
        </foreach>
    </update>
</mapper>