<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdedu.mapper.WechatHouseKeeperUserMapper">

    <select id="selectCountByWechatHouseKeeperUserId" resultType="java.lang.Integer">
        SELECT count(*) FROM `wechat_housekeeper_user` where wechat_house_keeper_user_id = #{wechatHouseKeeperUserId}
    </select>

    <insert id="bathInsertUser">
        insert into wechat_housekeeper_user (id,wechat_house_keeper_user_id,user_account,user_name,nick_name,user_depart_name,
        is_customer_service,creator,record_created_time,user_status,created_time,update_time) values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.wechatHouseKeeperUserId},
            #{item.userAccount},
            #{item.userName},
            #{item.nickName},
            #{item.userDepartName},
            #{item.isCustomerService},
            #{item.creator},
            #{item.recordCreatedTime},
            #{item.userStatus},
            NOW(),
            NOW()
            )
        </foreach>
    </insert>
</mapper>